<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Player</h1>
        <div class="col-md-6 offset-md-3">
            <form class="row g-3" action="/players" method="POST">
                <div class="col-md-6">
                    <label for="PlayerFirstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="player[firstName]" id="PlayerFirstName">
                </div>
                <div class="col-md-6">
                    <label for="PlayerLastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="player[lastName]" id="PlayerLastName">
                </div>
                <div class="col-md-12">
                    <label for="PlayerEmail" class="form-label">Email</label>
                    <input type="text" class="form-control" name="player[email]" id="PlayerEmail"
                        placeholder="example@gmail.com">
                </div>
                <div class="col-md-6">
                    <label for="PrimaryPosition" class="form-label">Primary Position</label>
                    <select id="PrimaryPosition" class="form-select" name="player[primaryPosition]">
                        <option value="Hybrid" selected>Hybrid</option>
                        <option value="Handler">Handler</option>
                        <option value="Cutter">Cutter</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="PlayerPhoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="player[phoneNumber]" id="PlayerPhoneNumber"
                        placeholder="###-###-####">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-info">Create</button>
                </div>
            </form>
        </div>
    </div>