<% layout('layouts/boilerplate')%>
    <h1><%= player.name%></h1>
    <h5>Edit</h5>
    <a href="/players/<%= player._id %>/edit">Edit Me</a>

    <hr>

    <form action="/players/<%= player._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>